$primary-color: #7623ff;
$primary-color-light: lighten($primary-color, 15%) ;
$primary-color-dark: darken($primary-color, 15%) ;

$secondary-color: #d97aff !default;
$success-color: green !default;
$error-color: red !default;
$link-color: $primary-color;